<% content_for :user do %>
<p>
  <%= @category.title %>
</p>

<%= link_to 'Delete', user_category_path(current_user, @category), method: :delete %>
<%= link_to 'Edit', edit_user_category_path(current_user, @category) %> |
<%= link_to 'Back to Your Categories', user_categorys_path(current_user) %>
<% end %>
